.flashcard {
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  ion-img {
    margin-top: 20px;
    max-height: 200px;
    object-fit: contain;
  }
  